
body {
    background-color: #777;
    font-family: Arial, Helvetica, sans-serif;
    width:960px;
    font-size: 18px;
    text-align: center;
}

#header {
    width: 70%;
    height: 55px;
    background-color:#ebebeb;
    padding-bottom: 10px;
    text-align: center;
    margin-left: 400px;
    margin-right: 100px;
    

}

#nav {
    width: 495px;
    height: 55px;
    width: 70%;
    height: 55px;
    background-color: #ebebeb;
    padding-bottom: 10px;
    text-align: center;
    margin-left: 400px;
    margin-right: 100px;
    margin-top: 15px;
    
}
   

.section

{   width:375px;
    height: 265px;
    background-color: #ebebeb;
    float: left;
    margin-left: 398px;
    margin-right: 50px;
    margin-top: 30px;
}


#aside{

    width: 285px;
    height: 265px;
    margin-right: -115px;
    margin-top: -265px;
    background-color:#ebebeb;
    float: right;

}
div.relative1 {
    float: left;
    width: 349px;
    height: 190px;
    margin-left: 410px;
    margin-top: -200px;
    background-color: gray;
} 

div.relative2
{
    width: 320px;
    height: 65px;
    background-color: #ebebeb;
    margin-left: 420px;
    margin-top: -90px;
    float: left; 
    text-align: center;
}


div.relative3
{
    position: relative;
    background-color:#ebebeb;
    height: 60px;
    width: 320px;
    margin-top: 130px;
    margin-left: 420px;
    text-align: center;
}



#footer{
    width: 70%px;
    height: 65px;
    background-color:#ebebeb;
    text-align: center;
    margin-top: 170px;
    margin-left:395px;
    margin-right: -120px;
    text-align: center;
   
}